.activity {
  background: url(../../img/ImageActivity.jpg) no-repeat center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 110vh;
  padding: 80px;
  text-align: auto;
  -display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.activity .acti2 {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  /*Largo de la ventana activity*/
  height: 930px;
  background-color: white;
  border-radius: 10px;
}
.activity h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.activity form {
  padding: 0 40px;
  box-sizing: border-box;
}

.acti2 .box{
  padding: 20px 20px 20px 30px;
  border-radius: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.box .slider {
  position: relative;
  left: 250px;
  height: 15px;
  width: 300px;
  display: flex;
  align-items: center;
  
}

.box .slider input {
  height: 100%;
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  background: #f2f2f2;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.slider input::-moz-range-progress{
  height: 10px;
  border-radius: 25px;
  background: #3498db;
}


.slider input::-moz-range-thumb{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 4px solid #3498db;
  background: white;
  -webkit-appearance: none;
}

.box .value {
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
  color: #3498db;
  width: 780px;
  text-align: center;
}


form .nameActivity {
  position: relative;
  border-bottom: 2px solid #adaada;
  margin: 30px 0;
}

.nameActivity input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.nameActivity label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.nameActivity span ::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #6c3483;
}
.nameActivity input:focus ~ label,
.nameActivity input:focus ~ label {
  top: -5px;
  color: #6c3483;
}
.nameActivity input:focus ~ span::before,
.nameActivity input:focus ~ span::before {
  width: 100%;
}

form .seasons {
  display: flex;
  align-items: center;
}

.seasons input {
  /*Lo mejor para mover las cosas*/
  position: relative;
  -right: 320px;
  width: 100%;
  margin-top: 90px;
}
form .seasons label {
  position: relative;
  right: -290px;
  margin-top: -30px;
}

form .seasons h2 {
  margin-top: -80px;
  position: absolute;
  left: 390px;
}

form .time {
  margin-top: 30px;
}
form .time label {
  position: absolute;
  margin-left: -83px;
}

form .time input {
  width: 100px;
  text-align: center;
  margin-left: 340px;
  margin-top: 20px;
}

form .search {
  text-align: center;
}
form .search input {
  width: 350px;
}

form .countrySelected {
  position: relative;
  height: 110px;
  border: 1px solid #000;
  border-radius: 10px;
}

form .countrySelected h4 {
  position: relative;
  left: 320px;
  top: -20px;
}
form .countrySelected .namee{

  display: flex;
  border: 1px solid transparent;
  border-radius: 0;
}

