.countries {
    background: url(../../img/Mapa.jpg) no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    padding: 80px;
    text-align: auto;
    
}

.countries  .content {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    gap: 10px;
}
