.filter{
position: relative;
display: flex;
border: 2px solid;
border-radius: 10px;
border-color: blanchedalmond;
height: 110px;
background: linear-gradient(rgba(216, 230, 244, 0.75),rgba(241, 241, 246, 0.75));

}

.filter button {
   margin-left: -70px;
   font-weight: 700;
   color: #1b3039;
   padding: -15px 25px;
   background: #eceff1;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
 }

 .filter button:hover {
   background-color: #e2f1f8;
   color: grey;
   transform: scale(1.1);
 }

.filter h3 {
   text-align: center;
   margin: 10px;
}
.filter button {
    position: relative;
    left: -850px;
    top: 60px;
    height: 40px;
    width: 120px;
 }

select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #e5f7f7;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }
